  <main class="vh-100 main-visual">

       <div class="container text-center py-5">
      <div class="row">
        <div class='col-11 col-sm-10 col-lg-8 col-xl-6 mx-auto py-3 bg-light rounded'>
          <h1 class="site-title">Rela×Share</h1>
          <p><strong class="site-title text-dark">Rela×Share(リラシェア)</strong> は,
          </p>
          <p>ストレスを和らげる方法をシェアして</p>
          <p>リラックスできるようお手伝いするサービスです</p>
          <div class="btn-wrapper col-10 mx-auto">
            <div class="row">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
            </div>
            <div class="row">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
            </div>
          </div>
        </div>
      </div>
    </div>


  </main>

